@font-face {
    font-family: font;
    src: url('Yekan-Bakh-FaNum-05-Medium.woff');
}
*{
font-family: font;
}
body{
    background-color: #18161c;
}
input {
    
        position: absolute;
        top:  25%;
        left: 50%;
        transform: translate(-50%,-50%);
    border:     none;
    background-color: #ff0079;
    box-shadow:0px 0px 24px #ff00795c; ;
    border-radius: 10px;
    width: 580px;
    height: 45px;
    transition: 0.3s;
}
#subjectInput:focus{
    outline: none;
}
#subjectInput:hover{
    transition: 0.3s;
    width: 583;
    height: 47px;
    position: absolute;
    top:  25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#subjectInput::placeholder{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#proprtiesInput {
    
    position: absolute;
    top:  42%;
    left: 50%;
    transform: translate(-50%,-50%);
border-radius: 10px;
width: 580px;
height: 45px;
transition: 0.3s;
}
#proprtiesInput:focus{
outline: none;
}
#proprtiesInput:hover{
transition: 0.3s;
width: 583;
height: 47px;
position: absolute;
top:  42%;
left: 50%;
transform: translate(-50%,-50%);
}
#proprtiesInput::placeholder{
color: rgb(0, 0, 0);
font-size: 18px;
}

#proprtiesInput {
    
    position: absolute;
    top:  42%;
    left: 50%;
    transform: translate(-50%,-50%);

border-radius: 10px;
width: 580px;
height: 45px;
transition: 0.3s;
}
#proprtiesInput:focus{
outline: none;
}
#proprtiesInput:hover{
transition: 0.3s;
width: 583;
height: 47px;
position: absolute;
top:  42%;
left: 50%;
transform: translate(-50%,-50%);
}
#proprtiesInput::placeholder{
color: rgb(0, 0, 0);
font-size: 18px;
}


#phonecallInput {
    
    position: absolute;
    top:  59%;
    left: 50%;
    transform: translate(-50%,-50%);
border-radius: 10px;
width: 580px;
height: 45px;
transition: 0.3s;
}
#phonecallInput:focus{
outline: none;
}
#phonecallInput:hover{
transition: 0.3s;
width: 583;
height: 47px;
position: absolute;
top:  59%;
left: 50%;
transform: translate(-50%,-50%);
}
#phonecallInput::placeholder{
color: rgb(0, 0, 0);
font-size: 18px;
}



#ChannelId {
    
    position: absolute;
    top:  91%;
    left: 50%;
    transform: translate(-50%,-50%);
border-radius: 10px;
width: 580px;
height: 45px;
transition: 0.3s;
}
#ChannelId:focus{
outline: none;
}
#ChannelId:hover{
transition: 0.3s;
width: 583;
height: 47px;
position: absolute;
top:  91%;
left: 50%;
transform: translate(-50%,-50%);
}
#ChannelId::placeholder{
color: rgb(0, 0, 0);
font-size: 18px;
}



#Chid {
    
    position: absolute;
    top:  75%;
    left: 50%;
    transform: translate(-50%,-50%);

border-radius: 10px;
width: 580px;
height: 45px;
transition: 0.3s;
}
#Chid:focus{
outline: none;
}
#Chid:hover{
transition: 0.3s;
width: 583;
height: 47px;
position: absolute;
top:  76%;
left: 50%;
transform: translate(-50%,-50%);
}
#Chid::placeholder{
color: rgba(0, 0, 0, 0.762);
font-size: 18px;
}
